@import-normalize;

body {
  margin: 0;
  font-family: 'Cormorant', serif;
  background-color: #100e19;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font: inherit;
  font-size: 20px;
}

img {
  display: inline-block;
}

button {
  cursor: pointer;
}

h2 {
  color: #fff;
  text-align: center;
  /* margin-bottom: 20px; */
}

h3 {
  color: #ea0042;
  text-align: center;
  /* margin-bottom: 20px; */
}

p {
  color: rgb(189, 185, 185);
}
